<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="superSocket"
             type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
  </configSections>

  <superSocket>
    <servers>
      <server name="TelnetServer"
              textEncoding="UTF-8"
              serverType="SuperSocket.ByConfig.TelnetServer, SuperSocket.ByConfig"
              ip="Any" port="2003"
              maxConnectionNumber="100">
      </server>
    </servers>
  </superSocket>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>