<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_CustomValidatorService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Basic" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_GithubService">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_CSharpDemoService" receiveTimeout="00:05:00"
                    sendTimeout="00:05:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
                    <reliableSession enabled="true" />
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8066/service/github" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_GithubService" contract="GithubService.GithubService"
                name="WSHttpBinding_GithubService" />
            <endpoint address="http://localhost:8077/service/csharpdemo"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_CSharpDemoService"
                contract="CSharpDemoService.CSharpDemoService" name="WSHttpBinding_CSharpDemoService" />
            <endpoint address="http://localhost:8088/service/customValidator"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_CustomValidatorService"
                contract="CustomValidatorService.CustomValidatorService" name="BasicHttpBinding_CustomValidatorService" />
        </client>
    </system.serviceModel>
</configuration>