<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CSharpDemoBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="WCF.Server.ByConfig.CSharpDemoService" behaviorConfiguration="CSharpDemoBehavior">
        <endpoint address="csharpdemo" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_CSharpDemo" contract="WCF.Server.ByConfig.IService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8077/service"/>
          </baseAddresses>
        </host>
      </service>
    </services>

    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_CSharpDemo" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
          <reliableSession enabled="true"/>
          <security mode="None">
            <message establishSecurityContext="true"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  
  
</configuration>